[2020-10-26 01:25] MohitShridhar opened #1 "Goal descriptions are written into game.tw-pddl files"
Currently, the goal descriptions are written into game.tw-pddl files. This leads to race conditions during parallel runs.

[2020-11-02 13:24] zhaozj89 opened #2 "Runtime errors of testing scripts"
Hi, thanks for this work.

When I ran scripts here `https://github.com/alfworld/alfworld/tree/master/scripts`, there were some errors.

For TextWorld, it said, `TypeError: __init__() got an unexpected keyword argument 'wrappers'`. I installed your customized TextWorld https://github.com/MohitShridhar/TextWorld, but it still reported this error.

![image](https://user-images.githubusercontent.com/3

[2020-11-02 17:19] MohitShridhar commented on #2
@zhaozj89 are you using the right branch for Textworld: https://github.com/MohitShridhar/TextWorld/tree/handcoded_expert_integration

For THOR, can you run `python docker/check_thor.py` and report back? If the segfault still persists, can you post a [stacktrace](https://docs.python.org/3/library/faulthandler.html)?

[2020-11-03 00:15] zhaozj89 commented on #2
Thanks for your reply. Both work. Sorry for my carelessness.

[2020-11-05 18:13] MohitShridhar opened #3 "Make ALFWorld PyPi package and remove dependency on ALFRED_ROOT"
Make ALFWorld a PyPi package and remove dependency on `ALFRED_ROOT`

[2020-11-06 22:33] MohitShridhar opened #4 "TextWorld env.step reward!=1 after game=won"
TextWorld env.step reward != 1 after game=won

[2020-11-07 00:40] MohitShridhar commented on #4
[Fixed](https://github.com/MohitShridhar/TextWorld/commit/03127a406345b2a00a665a2591b7045da918154e).

[2020-11-07 00:40] #4 closed

[2020-11-09 13:17] zhaozj89 commented on #2
Hi, when I ran `python scripts/play_alfred_thor.py data/json_2.1.1/train/pick_heat_then_place_in_recep-Potato-None-SinkBasin-14/trial_T20190908_231731_054988/ --controller mrcnn_astar --debug`, where I want to try MRCNN. It gave me the following errors. Is the command right? The readme said using `--agent mrcnn_astar`, but this does not work. Thanks.

`RuntimeError: unexpected EOF, expected 132923

[2020-11-09 16:59] MohitShridhar commented on #2
@zhaozj89 it looks like the checkpoint was somehow corrupted. Can you remove `mrcnn.pth` and directly download it without the script: `wget https://aka.ms/alfworld/mrcnn.pth`?

[2020-11-09 23:52] zhaozj89 commented on #2
This works. Thank you for the support!

[2020-11-09 23:52] #2 closed

[2020-11-11 13:21] zhaozj89 opened #5 "QAs"
Thanks for this work again. I have a couple of questions when digesting the code and paper.

1. What is `CQAttention` network (`agents/modules/layers.py`) that is used to aggregate input information? Can you point me to the paper?

2. To replicate the BUTLER::BRAIN experiment results, should I just run `python dagger/train_dagger.py config/base_config.yaml`, i.e., using the default seq2seq action

[2020-11-11 16:32] xingdi-eric-yuan commented on #5
Hi @zhaozj89 ,
1. The CQAttention is adopted from the QANet ([Yu et al., 2018](https://arxiv.org/abs/1804.09541)).
2. Yes I believe that's the right thing to do. @MohitShridhar please confirm.

Please let us know if you have any other questions.

[2020-11-11 16:41] MohitShridhar commented on #5
Hi @zhaozj89
1.  Also see Appendix A.3 in the paper for more details.
2. Yes, this is correct. The default settings should train a BUTLER::Brain agent on All Tasks.

[2020-11-11 23:34] zhaozj89 commented on #5
Thank you both, and sorry for my carelessness.

[2020-11-17 14:28] MarcCote commented on #3
@MohitShridhar  Let me know if you need help with that.

[2020-11-21 07:59] zhaozj89 commented on #5
@MohitShridhar , this is the result when I ran `python dagger/train_dagger.py config/base_config.yaml`. Is this the result expected? Why the games points of id, ood, and student are still 0s and the game steps of id, ood, and student are still 50s? I enclosed the`base_config.yaml` file (change `.yaml` to `.txt` because github does not support attaching `.yaml`) where I turn `run_eval` to `True` an

[2020-11-21 23:04] MohitShridhar commented on #5
@zhaozj89, no this is strange. Are you sure your txtfile parameters are being loaded correctly? Can you double check that it's saving dicts exactly like the YAML loader?

[2020-11-22 08:53] xingdi-eric-yuan commented on #5
Yeah this definitely looks weird. Some observations: 1) at the very beginning, the game points is ~1.0, which means at the beginning the games are solvable and thus the oracle might be fine? 2) the loss is going all the way up.

I've never seen this during my hundreds of experiments of dagger training. @zhaozj89 can you try doing the same thing, but change the env.task_types to be [1] in the yaml?

[2020-11-22 10:49] zhaozj89 commented on #5
Thanks @xingdi-eric-yuan @MohitShridhar It turns out to be my fault that I modified `base_agent.py` code to add a comparison method but forgot to use the original opitmizer of dagger when training dagger. It is fine now. Sorry for my silly question and thanks a lot for your patience.

[2020-11-26 20:42] 594zyc opened #6 "Input image size inconsistency of the Mask RCNN model"
Hello,

Thanks for the open-sourced code and models!

I have a question regarding the pretrained mask RCNN model. As in "augment_trajectories.py", I see you set the image size to 400x400 for generating the object detection dataset to fine-tune the mask RCNN. While in the MaskRCNNAgent, the input of the model is the original ALFRED frames which are of size 300x300.  I am wondering is there any risk

[2020-11-26 21:12] MohitShridhar commented on #6
Good question! During pre-training, we saved 400x400 images because objects like pens and pencils have really tiny masks that barely contain a few pixels. It's possible that the downsized 300x300 input could lead to missed objects. But it's tradeoff between how fast you want to run the simulator (AI2THOR) vs. the resolution of the image observations.

On a side note, in this [video](https://www.yo

[2020-11-26 21:22] 594zyc commented on #6
Thanks so much for the quick response! This information is very helpful.

[2020-11-26 21:22] #6 closed

[2020-11-28 23:52] MohitShridhar commented on #3
@MarcCote, that would be great! Ideally, this should simplify [ALFWorld TW](https://github.com/alfworld/alfworld/blob/master/scripts/play_alfred_tw.py) usage, so that users can directly install the pip package and start interacting with environment.

[2020-12-04 15:22] MarcCote commented on #3
Oh. I forgot about this. I'll try to do it next week.

[2020-12-12 23:08] MohitShridhar opened #8 "Can't reduce repo size with BFG cleaner"
@MarcCote, I tried out reducing the repo size with BFG cleaner. But I couldn't push the changes:

[code]

From [this](https://stackoverflow.com/questions/50343697/cleaning-git-repository-bfg-repo-cleaner-repo-size-is-still-large-after-i-pu), it looks like there is no easy way to resolve this.  Do you have any other suggestions? Or should we leave it as is.

[2020-12-13 13:04] MarcCote commented on #8
Hmm. I thought you only needed to force-push it. Let's do it together Monday.

[2020-12-14 16:34] MarcCote commented on #8
I just tried to `git clone` this repo and the size if way smaller. So, I'd say it has worked.

[2020-12-14 18:42] #8 closed

[2020-12-19 04:19] MohitShridhar commented on #3
Done! Merged to master.

[2020-12-19 04:19] #3 closed

[2021-01-13 03:40] roy860328 opened #10 "Problem: The "train_vision_dagger" success rate about "id_eval_game_points" & "ood_eval_game_points""
Hello!

When I run "train_vision_dagger" script for "VISION (RESNET18)", the "id_eval_game_points" & "ood_eval_game_points" seem to be 0.
They can't reach 10% in seen environment and 6% in unseen environment.

Did i understand or did something wrong?
Thanks!

[2021-01-13 16:33] MohitShridhar commented on #10
@roy860328 can you post the config YAML file you used for this? thanks!

[2021-01-14 06:56] roy860328 commented on #10
Sure!
[code]

[2021-01-14 17:54] MohitShridhar commented on #10
@roy860328 this seems fine. Can you also post the visdom plot? If you set `visdom: True` in the config, and run `python -m visdom.server`, you should be able to see train/eval curves. Note that training the VisionDAgger agent is much slower than training the TextDAgger agent since you need run it inside the embodied simulator. It takes several days even with a batch-size of 10.

[2021-01-15 01:44] MohitShridhar opened #11 "Missing Goal-Conditions metric for AlfredTWEnv"
Missing Goal-Conditions metric for AlfredTWEnv.

[2021-01-15 15:17] roy860328 commented on #10
Ok! Thanks!
I will try to train again.

Got it 👍

[2021-01-25 08:28] xxxmian opened #12 "Object classes of Pre-trained Mask R-CNN"
Hi, thanks for your amazing work.
I have some questions about the pre-trained detector. In the supplementary material, the object categories  is 105.

![image](https://user-images.githubusercontent.com/34122441/105679120-f7767c00-5f28-11eb-91bb-773035d0a29f.png)

However, the pretrained mask r-cnn detector detect only 73 classes. I have checked the [constants.py](https://github.com/alfworld/alfwor

[2021-01-25 17:50] MohitShridhar commented on #12
@xxxmian thanks for pointing this out! That's right, it's 73 classes. We will update this in the camera-ready version.

Here are the pre-trained models for [objects, receptacles, and all object categories](https://drive.google.com/drive/folders/1eHzFw-a7IIX5iV-tQTu6fXKIuxxha6ag?usp=sharing). Also added a new section in the [README](https://github.com/alfworld/alfworld/blob/master/alfworld/data/REA

[2021-02-06 06:24] zhaozj89 commented on #5
Hi, I would like to inquire some questions on data generation.

I was following https://github.com/alfworld/alfworld/tree/master/alfworld/gen to generate new trajectories by executing

`python scripts/generate_trajectories.py --save_path data/new_trajs --in_parallel --debug --num_threads 2`

But after hours running, I found that the following created folders were all empty:

<img width="1193" alt=

[2021-02-07 04:42] MohitShridhar commented on #5
@zhaozj89 these generation scripts are from [ALFRED](https://github.com/askforalfred/alfred/tree/master/gen), which were used during data collection for the ALFRED dataset. For ALFWorld, we did not generate additional trajectories, and simply reused the existing ones from ALFRED. Are you trying to generate additional tasks for the dataset?

The failures `Empty plan is successful, no work to do` ar

[2021-02-07 05:03] zhaozj89 commented on #5
@MohitShridhar Thanks! I will have a look at ALFRED.

Yes. I want to generate additional tasks for the dataset. I am interested in deploying an ALFWorld text agent on a real robot, such as NAO or PyRobot. I think the current task types `clean/heat/cool/pick two & place` seem to be a bit complicated for a real robot. I want to design some tasks that can interact with humans and are also easy to imp

[2021-02-07 05:03] #5 closed

[2021-02-08 17:29] MohitShridhar commented on #5
@zhaozj89 that sounds cool! Yeah, I would say Pick & Place is probably the easiest task for a real-robot setup. You need a robust manipulation pipeline that can pick-up objects based on segmentation masks, and a navigation pipeline that can execute high-level navigation commands like "go to the fridge". These are non-trivial components, but if you get some minimal setup working, you might be able

[2021-02-12 11:26] vmicheli opened #13 "seq2seq data: observations and actions missing, observations and actions appearing in the wrong places"
Hi,

First of all thanks for introducing Alfworld! I'm trying to recover the transcripts from the expert demonstrations but it looks like there are missing observations and actions.

For instance if we take the following game,

[code]

we can see that the second `'go to desk 1'` action and the observation that comes after it are missing from the subsequent observations. Indeed, the observation at

[2021-02-12 18:30] MohitShridhar commented on #13
Hi @vmicheli, this is because of the way [Observation Pooling](https://github.com/alfworld/alfworld/blob/c0501c807fa77dd25ecfc86e92cd782226f5c74f/alfworld/agents/agent/base_agent.py#L46) works. In the first case, the observation for `go to desk 1` already exists in the history buffer (i.e the concatenated string), so it's not added to `obs`. In the second case, the `go to diningtable 1` actions ar

[2021-02-12 18:59] vmicheli commented on #13
Thank you for the explanation! What about the second issue I described? Does this also have something to do with the way the history buffer works?

[2021-02-12 19:16] MohitShridhar commented on #13
Yes. The Observation Pool keeps track past `k` non-duplicate observations (here `k=3`).

[2021-02-12 19:34] vmicheli commented on #13
I see. Thanks!

[2021-02-12 19:34] #13 closed

[2021-02-23 17:49] vmicheli opened #14 "Making observations reproducible"
Hi,

When running the following snippet twice with `base_config.yaml` I'm not getting the same initial observation:

[code]

For instance I get:

`you see a drawer 8, a drawer 4, a toilet 1, a sinkbasin 1, a drawer 7, a handtowelholder 1, a countertop 1, a drawer 3, a drawer 5, a drawer 6, a drawer 2, a toiletpaperhanger 1, a garbagecan 1, a drawer 1, a towelholder 1, and a sinkbasin 2.`

and

`yo

[2021-02-24 06:18] xingdi-eric-yuan commented on #14
Hi @vmicheli. In the code preprocessing the input, we manually sort this list. We keep the shuffled observation list in the environment, so that future systems can leverage this weak data augmentation feature. However, in the agent reported in our paper, we assume a fixed object order.

[2021-02-24 06:39] MohitShridhar commented on #14
That's right. More info on this: `domain_randomization` in the [config file](https://github.com/alfworld/alfworld/blob/c0501c807fa77dd25ecfc86e92cd782226f5c74f/configs/base_config.yaml#L15) affects the [shuffling here](https://github.com/alfworld/alfworld/blob/c0501c807fa77dd25ecfc86e92cd782226f5c74f/alfworld/agents/utils/misc.py#L28).

[2021-02-24 11:23] vmicheli commented on #14
Thanks for your answers!

Regarding `domain_randomization`, I'm not sure I understand its role. It is already set to `False` in the config file but the environment still produces shuffled observations from one run to another.

[2021-02-25 03:21] MohitShridhar commented on #14
Oops sorry @vmicheli I misread the question. Right, this `domain_randomization` is only for shuffling object ID numbers. The order of the objects in the sentence is perturbed by something else in Textworld. CC'ing @MarcCote.

But as Eric pointed out, we sort the objects to circumvent this.

[2021-02-25 13:45] MarcCote commented on #14
@vmicheli thanks for reporting this. I've pushed a commit that should ensure the reproducibility of the observation. Please reinstall the following custom version of TextWorld
[code]

For reference, the fix was to sort the variable assignments (see https://github.com/MarcCote/TextWorld/commit/2e6dd1870dcf9a626c239ec713f5ea0764939cbb).

Let us know if that fixes it for you.

[2021-02-25 17:31] vmicheli commented on #14
Indeed the fix solves my issue. Thank you for the quick follow-up guys!

[2021-02-25 17:31] #14 closed

[2021-03-03 01:25] Donglin-Wang2 opened #15 "Errors when running "pip install https://github.com/MarcCote/downward/archive/faster_replan.zip""
I am currently using Macbook Pro 2020. I have ran "pip install https://github.com/MarcCote/downward/archive/faster_replan.zip" with a newly created virtualenv with python version 3.9.1. I have the following packgaes listed after running "pip list":
[code]

I have gotten the following error message when running "pip install https://github.com/MarcCote/downward/archive/faster_replan.zip":

[code]

I

[2021-03-03 14:06] MarcCote commented on #15
@Donglin-Wang2 thank you for reporting this issue. As I don't have access to a MacOS system I can only point you to the [Downward's install instructions](http://www.fast-downward.org/ObtainingAndRunningFastDownward). I think @MohitShridhar could help here since he's running MacOS (I think).

[2021-03-03 15:22] MarcCote commented on #15
Working on a fix here: https://github.com/MarcCote/downward/pull/1

[2021-03-03 15:28] Donglin-Wang2 commented on #15
Thank you for your quick response. Right now, all I have is this MacBook, so I am wondering:
1. Does setting up the alfworld environment requires a nvidia GPU?
2. Can I train and play around with my agent using only my Macbook?

[2021-03-03 18:20] MohitShridhar commented on #15
@Donglin-Wang2 I use Ubuntu 16.04. And I have never tested ALFWorld on OSX.

For training agents with PyTorch, it's preferable to have an NVIDIA GPU. Otherwise training agents will take too long.

AFAIK, both AI2THOR (Embodied Simulator) and TextWorld should be supported in OSX. I think you just need to figure out how to compile LibDownward.

[2021-03-03 18:22] MohitShridhar commented on #15
If you can get Docker running on OSX, that might also be an easy alternative: https://github.com/alfworld/alfworld#docker-setup

[2021-03-04 16:09] vmicheli opened #16 "Controller: dealing with multiple instances of the same object"
Hi,

Another week another issue 😅

In the Alfworld environment, multiple instances of the same object are assigned different IDs. However, I'm wondering how we could do this identification in Alfred and have it be consistent with Alfworld?

It looks like this would be a necessary step if we were to train a Controller module mapping high-level actions in Alfworld to sequences of low-level actions i

[2021-03-04 17:58] MarcCote commented on #15
Great news. https://github.com/MarcCote/downward/pull/1 is merged and should fix your issue @Donglin-Wang2 .

[2021-03-04 22:21] MohitShridhar commented on #16
@vmicheli in ALFWorld, we use object IDs `<object_name> <obj_id>` to handle multiple objects of the same class, e.g. `apple 1` and `apple 2`. For all ALFWorld tasks, if the high-level goal is to "put an apple on the plate", it doesn't matter which of the two apples you pick, as long as you put _some_ apple on _some_ plate you will succeed at the task. So the IDs here help in keeping track of objec

[2021-03-05 09:21] vmicheli commented on #16
Thanks for your reply @MohitShridhar.

I'm still struggling to understand the case where we have multiple instances of a receptacle. Let's say we have `drawer 1 ` and `drawer 2` and the text agent states `go to drawer 1`. Do you agree that the burden then falls on the controller to pick one of the two drawers and to somehow remember that it will be referred as `drawer 1` in the future? Otherwise,

[2021-03-05 23:19] MohitShridhar commented on #16
@vmicheli yes, that's right. Some "object searches" will become exhaustive in the sense that you have to look through every `drawer` to find the `watch` (but at least you are looking inside drawers and not refrigerators).

Initially, we planned on incorporating some spatial-relationships or other attributes to disambiguate multiple receptacles, e.g. the drawer below the microwave, but we didn't ge

[2021-03-06 07:27] vmicheli commented on #16
I see, thanks for the explanation and the pointer @MohitShridhar. I'll let you know if I come up with something!

[2021-05-19 02:00] yipliu opened #17 "Permission denied in Docker Setup"
Hi,
When I run
[code]
I get this error
[code]
I have added my user name to the docker group

[2021-05-19 04:26] MohitShridhar commented on #17
@yipliu can you run `chmod +x docker/install_deps.sh` before running the python script?

This also might be helpful: https://stackoverflow.com/questions/38882654/docker-entrypoint-running-bash-script-gets-permission-denied/38882798

[2021-05-19 07:01] yipliu commented on #17
WOW! Thank you!

[2021-05-19 07:01] #17 closed

[2021-05-19 13:17] MarcCote commented on #15
Hi @yipliu, it seems to be an oversight on my side. I just pushed a [fix](https://github.com/MarcCote/downward/pull/2). Please try again, and let me know if that works.

[2021-05-19 14:33] yipliu commented on #15
Hi @MarcCote, it worked!

Although it prints **Successfully tagged lyp-alfword:latest**, there is an error in the cmd
[code]

[2021-05-19 14:46] MarcCote commented on #15
I'll let @MohitShridhar have a look but `Click` seems to be a dependency of `ai2thor`.

[2021-05-20 14:39] MarcCote commented on #15
@yipliu let us know if PR #18 works for you.

[2021-05-21 00:31] #15 closed

[2021-05-21 02:22] yipliu commented on #15
Hi,

Sorry for the late reply. I just got to the lab an hour ago.

The update to the latest version address the previous issue.

Thank You!

[2021-05-23 13:59] yipliu opened #19 "FileNotFoundError: [Errno 2] No such file or directory: 'lspci'"
Hi,
I met the same problem [#51](https://github.com/askforalfred/alfred/issues/51) opened in alfred, when I run this command in alworld.
[code]

It shows
[code]
Do I need the same change?

[2021-05-25 17:31] MohitShridhar commented on #19
@yipliu I added `pciutils` to [install_deps.sh](https://github.com/alfworld/alfworld/blob/master/docker/install_deps.sh#L39). Try it out now.

[2021-05-27 03:13] yipliu commented on #19
Everything works!!!
BTW, do you know of a detailed tutorial on deep learning with Docker?

[2021-05-27 08:37] #19 closed

[2021-05-27 13:03] MarcCote commented on #19
@yipliu thanks a lot for reporting this issue. Regarding your question, I don't have a lot of experience with running deep learning experiments with Docker other than re-using existing docker from dockerhub and running my code on them interactively.

[2021-05-28 00:45] MohitShridhar opened #20 "ERROR: Could not find a version that satisfies the requirement torch==1.2.0"
[code]

Need to add `-f https://download.pytorch.org/whl/torch_stable.html`

[2021-05-28 03:04] yipliu commented on #19
@MarcCote, developing with VScode and Docker is an extraordinary experience! It makes me wonder what excellent engineers do when they do R&D. However, as a student, I will focus on improving the model's performance. Thank you for your reply!

[2021-07-29 17:58] jayelm opened #21 "KeyError: 'val1' in Atom when initializing (most) levels"
Hi, thanks for the great work!

Getting an error (occurs most, but not all of the time; seems level-dependent) when setting up alfworld according to instructions and running `alfworld-play-tw`:

[code]

it seems like in the `Atom` class, `self.name` is `Atom dummy(val1)`, which is then parsed into `args`, and there is no `val1` argument in the `name2type` dict.

Any idea what's going on here?

[2021-07-29 22:27] MohitShridhar commented on #21
@jayelm, this error indicates that the task is unsolvable in Textworld. `movable_recep...` are tasks from ALFRED which involves carrying an object with another object like an apple in a bowl. We didn't add these tasks in ALFWorld because it made the Textworld engine super slow. When you try to load this in Textworld, the engine cannot construct a PDDL problem because "movable objects" are undefine

[2021-07-30 16:27] jayelm commented on #21
thanks @MohitShridhar !

[2021-07-30 16:27] #21 closed

[2021-09-10 01:55] tongzhoumu opened #22 "alfred2textworld"
Hi ALFWorld authors,

Is [this file](https://github.com/alfworld/alfworld/blob/master/scripts/alfred2textworld.py) used to convert an Alfred game to a textworld game? If so, how to use this script? Can you give a simple example?

Thank you so much!

[2021-09-10 03:31] MarcCote commented on #22
Hi @tongzhoumu, a better example would be [alfworld-play-tw](https://github.com/alfworld/alfworld/blob/master/scripts/alfworld-play-tw). In that script, you can see we are loading the `.pddl` file directly along with the [ALFWorld logic and grammar data](https://github.com/alfworld/alfworld/tree/master/alfworld/data). It works differently from how TextWorld traditionally generates Z-Machine games

[2021-09-10 06:53] tongzhoumu commented on #22
Hi Marc,

Thanks for your reply!

I am looking for something can convert `.pddl` file into `.z8` file. More specifically, I wish the `facts` can be accessed from `info` returned by the environment. I guess `.z8` file is needed in this case?

I think [these lines](https://github.com/alfworld/alfworld/blob/master/scripts/alfred2textworld.py#L66-L176) are similar to what I need, which extracts `facts

[2021-09-10 13:52] MarcCote commented on #22
The main issue with converting `.pddl` to `.z8` games is PDDL language is much more expressive than what the predicate logic TextWorld uses. The main limitation is due to the fact that TextWorld doesn't support quantifiers. For instance, in PDDL turning on the microwave will heat **all** items inside of it, but in TextWorld we can only heat one item at a time (which needs to be specified explicitl

[2021-09-10 17:24] tongzhoumu commented on #22
I want to get the `facts` by setting `request_infos.fact = True` when registering the games. But when I did it, I fount that I got `None` from the `info` returned by the environment. I guess this is because `.pddl` files do not directly include the `facts`. And I found [these lines](https://github.com/alfworld/alfworld/blob/master/scripts/alfred2textworld.py#L66-L176) look like extracting facts fr

[2021-09-10 20:02] MarcCote commented on #22
If you simply want the facts, there's no need for generating `.z8` games. In [textworld-play-tw](https://github.com/alfworld/alfworld/blob/master/scripts/alfworld-play-tw),  replace the class `AlfredDemangler` with the following:

[code]

[2021-09-14 13:20] MarcCote commented on #22
Hi @tongzhoumu did that end up working for you?

[2021-09-15 07:51] tongzhoumu commented on #22
Hi @MarcCote , it works. Thank you so much!

I have an additional question: I noticed that the facts do not include the information about the goal. Is there any way to get the "facts" about the goal of the game?

[2021-09-16 14:01] MarcCote commented on #22
In ALFRED/ALFWorld the goal is not defined by a predefined set of facts, rather it is a function/axiom, i.e. is there an object (or group of objects) that satisfies the goal conditions. For instance, take a task like "Put a fork in the sink.", it is easy to see that the agent could put any fork it can find in the sink in order to complete the task. This would translate into a function/axiom like t

[2021-09-27 22:27] #22 closed

[2021-09-27 22:36] tongzhoumu opened #23 "Super slow running speed of the environment"
Hi ALFWorld authors,

I found that the running speed of ALFWorld environment is super slow. Specifically, I ran `AlfredTWEnv` with a script adapted from the example provided in README. I guess `AlfredTWEnv` should be the fastest one since it does not involve rendering. However, the fps I got is around 10~15, which is super slow. Is that normal?

I attached my test script below.

[code]

[2021-09-28 19:37] MohitShridhar commented on #23
@MarcCote might have better insights on this. But it might be because we are replanning at each timestep?

[2021-09-28 19:51] tongzhoumu commented on #23
Hi @MohitShridhar ,

I am wondering what is the environment speed when you were running the experiments?

[2021-09-29 04:41] MohitShridhar commented on #23
It's been a while since I used it, but I don't remember it being particularly fast.

[2021-10-21 23:43] #12 closed

[2021-11-10 01:20] MohitShridhar commented on #10
Closing due to inactivity.

[2021-11-10 01:20] #10 closed

[2022-01-06 15:40] namsophi opened #24 "BrokenPipeError when running a script"
Hello,

I was trying to run ` python scripts/train_dagger.py configs/base_config.yaml`, but then I would get this error:

Traceback (most recent call last):
  File "scripts/train_dagger.py", line 448, in <module>
    train()
  File "scripts/train_dagger.py", line 87, in train
    if config["general"]["wandb"]:
KeyError: 'wandb'
Exception ignored in: <bound method Environment.__del__ of <textworld.

[2022-01-06 15:49] MarcCote commented on #24
Hi! Is it possible you tried to modify `train_dagger.py` to report to WanDB? From your error message, it seems that `wandb` is not included in your config file under the `general` section.

See original config file: https://github.com/alfworld/alfworld/blob/master/configs/base_config.yaml#L41

[2022-01-07 13:35] namsophi commented on #24
Hey @MarcCote , thanks, adding that one line solved my issue. :)

[2022-01-07 13:35] #24 closed

[2022-01-26 21:24] namsophi opened #25 "Training Seq2Seq"
Hello, I want to replicate the results of Table 2 on your paper - in particular the performances of the Seq2Seq and BUTLER agents.
In this case,  I ran `python scripts/train_dagger.py configs/base_config_tw_dagger.yaml` to train the BUTLER agent, but was wondering which config I should run the train_seq2seq file with.

Additionally, would there be differences in the result if my machine does not s

[2022-01-27 18:51] MohitShridhar commented on #25
@namsophi, checkout this [evaluation guide](https://github.com/alfworld/alfworld/tree/master/alfworld/agents#evaluation). You just need to modify `load_from_tag` to reflect checkpoint paths for Seq2Seq and BUTLER.

[2022-02-03 00:03] namsophi commented on #25
Hey sorry for the late comment and thank you for your answer! I've tried following the evaluation guide, but for some reason everything comes back as 0 and the average steps taken is 50.0 which I believe indicates autofail. Do you have any ideas as to why this may be happening?

[2022-02-04 03:36] MohitShridhar commented on #25
@namsophi, can you share the exact commands you ran for training and evaluation? Maybe also set `visdom: True` in the config and post the training/evaluation curves? See [this guide](https://github.com/alfworld/alfworld/tree/master/alfworld/agents#training). You should get something like this:
![image](https://user-images.githubusercontent.com/6535354/152467773-5d39a569-a205-4b47-841d-4cfbd8195ae5

[2022-02-04 21:48] namsophi commented on #25
Hey @MohitShridhar, here's my screenshot and the command I ran currently is `python scripts/train_seq2seq.py configs/base_config.yaml` as indicated in the evaluation guide
![Screen Shot 2022-02-04 at 4 47 26 PM](https://user-images.githubusercontent.com/55249002/152607570-de18a7f0-38e0-4095-bbb4-e2d5a93067c4.png)

[2022-02-06 20:50] MohitShridhar commented on #25
@namsophi, for seq2seq, did you collect a dataset first? Like this:
[code]

You can alternatively `python scripts/alfworld-download --extra`, but you might have to double check that the paths inside the config files are correct.

[2022-02-07 13:43] namsophi commented on #25
@MohitShridhar I originally ran with the --extra tag to collect the dataset, but just in case I tried again by running  ` python scripts/collect_seq2seq_dataset.py config/base_config.yaml` and then `python scripts/train_seq2seq.py config/base_config.yaml`, but I still got the same graphs

[2022-02-07 16:53] MohitShridhar commented on #25
@xingdi-eric-yuan, any idea what could be happening here?

[2022-02-07 18:15] xingdi-eric-yuan commented on #25
Hi @namsophi ! Please help me understand this.

Did you train the agent with `train_seq2seq.py` and used `run_eval.py` for evaluation? From above conversation it seems you were using `train_seq2seq.py` also for eval? In that case, when the experiment tag is unchanged, the checkpoint file will be covered by the second time you run the training script.

[2022-02-08 17:51] namsophi commented on #25
Hey @xingdi-eric-yuan! I ran run_eval after, but the json files (ex. seq2seq_eval_run_001_alfredtwenv_tw_valid_seen) show     ```"average_goal_condition_points": 0.0,
    "average_points": 0.0,
    "average_steps": 50.0,
[code]

[2022-02-08 18:00] xingdi-eric-yuan commented on #25
@namsophi  [HERE](https://github.com/alfworld/alfworld/blob/master/scripts/run_eval.py#L26) we load the checkpoint file, I suspect what happened to you is that the script failed to load the checkpoint and thus used a randomly initialized model.

[2022-02-08 18:12] namsophi commented on #25
@xingdi-eric-yuan yep I know of that point, but I wasn't sure which checkpoint should be loaded to run the evaluation with the trained agent

[2022-02-08 18:30] xingdi-eric-yuan commented on #25
@namsophi It should be the file which name corresponds to the `agent.experiment_tag` when you train the model.

The `pretrained_checkpoint_id` [HERE](https://github.com/alfworld/alfworld/blob/master/configs/eval_config.yaml#L81) is just a placeholder. Sorry for the confusion.

[2022-02-08 19:53] namsophi commented on #25
[code]

this is my config file, and the screenshot below shows where I stored the pretrained model. I ran the command `python scripts/train_seq2seq.py configs/base_config.yaml` but still got above results.
![Screen Shot 2022-02-08 at 2 51 29 PM](https://user-images.githubusercontent.com/55249002/153064741-8b406a30-270a-4905-b0c0-9ecff879aafe.png)

[2022-02-08 21:06] xingdi-eric-yuan commented on #25
@namsophi could you check [HERE](https://github.com/alfworld/alfworld/blob/master/scripts/train_seq2seq.py#L67) if the agent has successfully loaded the checkpoint?
If so, it means the loaded checkpoint performs badly --- was it performing similarly during training?

[2022-02-09 00:05] namsophi commented on #25
@xingdi-eric-yuan  Oh sorry I meant to say I ran `python scripts/run_eval.py configs/base_config.yaml`,  not `train_seq2seq.py` and yes it seems like the agent is loaded properly.

After training, the resulting json was this: `{"time spent": "0:00:20", "time spent seconds": 20, "episodes": 10, "loss": "31.12522", "id eval game points": "0.0", "id eval steps": "50.0", "ood eval game points": "0.0",

[2022-02-09 01:14] xingdi-eric-yuan commented on #25
@namsophi it seems the model isn't sufficiently trained? Defined [HERE](https://github.com/alfworld/alfworld/blob/master/configs/base_config.yaml#L66) that the training script will report such numbers per 1,000 episode. If the resulting json file, as you showed, only has this one line, it suggests the agent has been trained only for less than 1,000 episode. To get the numbers we report in the pape

[2022-02-14 17:24] namsophi commented on #25
Hey @xingdi-eric-yuan! I'm back and yes you were right about the training -  I've just finished the 50000 training and ran run_eval and finally getting results that aren't just 0s, but I still don't seem to get the correct values as Table 2.

For example, this is the result I get from running just task 4.
`{
    "average_goal_condition_points": 0.0,
    "average_points": 0.625,
    "average_steps"

[2022-02-14 18:32] xingdi-eric-yuan commented on #25
Hey @namsophi ! Just to clarify, did you 1) train on just task 4, or 2) trained on the union of all tasks, then test on task 4?

[2022-02-14 18:37] namsophi commented on #25
@xingdi-eric-yuan The results posted above were given  I trained on the union of all tasks then run_eval on just task 4 (2). When I did run_eval on all tasks, I was still getting 0 for average_goal_condition_points as well as res_gcs

[2022-02-14 18:46] xingdi-eric-yuan commented on #25
@namsophi , I see. If I remembered correctly (@MohitShridhar please correct me), gcs (Goal-condition success rates) are only being calculated and reported in the embodied settings (Mid and Right parts of Table 2). Whereas in the pure text setting (TW), the gcs are 0.0 as placeholders.

In case you are in the embodied setting (which I misunderstood), @MohitShridhar can definitely help more on the g

[2022-02-15 13:52] xingdi-eric-yuan commented on #25
@namsophi  `average_points` should be the values we report in Table 2 (left). In each row of the table, we train and test on a specific subset (task) of the data. Please also note that we ran all experiments 8 times with different random seeds, the reported numbers are from the seeds that has the best final training scores. However, if I remembered correctly, the variance was not too high, so your

[2022-02-16 04:35] namsophi commented on #25
@xingdi-eric-yuan thanks for that explanation! I guess something is still off since my results are quite different from the table. BTW,  is it okay to get the warning `Token indices sequence length is longer than the specified maximum sequence length for this model` when I'm running `train_seq2seq.py`?

[2022-02-16 14:50] xingdi-eric-yuan commented on #25
@namsophi Just to clarify, to have a better chance getting e.g., task 4 results match Table 2, one should train only on task 4 games --- in all rows except the last row, we train on each individual tasks, and then test on its corresponding eval games.

`Token indices sequence length ...` this is fine, you can ignore it. It comes from the tokenizer of the DistilBert model. Transformers in general h

[2022-02-16 17:34] namsophi commented on #25
@xingdi-eric-yuan  So I tried training the agent solely on task 4 and running the valuation on just task 4 using that checkpoint, but somehow getting 0.31, and 0.56  on the average_points for seen and unseen respectively. I'm wondering if there is something that I modified/didn't modify in the base or eval configs that's causing this issue?

[2022-02-16 19:59] xingdi-eric-yuan commented on #25
@namsophi I do not see major problem in the eval config you posted above, other than:

@MohitShridhar please correct me if I'm wrong, when evaluating on pure TW, [THIS](https://github.com/alfworld/alfworld/blob/master/configs/eval_config.yaml#L71) should be `"AlfredTWEnv"`?

[2022-02-17 03:31] namsophi commented on #25
@xingdi-eric-yuan I've tried your suggestion before, but I get the exact same numbers for the `average_points` and `average_steps` because of this [part](https://github.com/alfworld/alfworld/blob/master/scripts/run_eval.py#L37-L46) I believe - it seems to get written over.

Anyways, please do let me know if you have any suggestions on this fix! Thank you so much for all the help and support throug

[2022-02-17 22:09] MohitShridhar commented on #25
Sorry for the late reply. @xingdi-eric-yuan, yes it should be `AlfredTWEnv`, which gets used [here](https://github.com/alfworld/alfworld/blob/253b76dc848823db7348ac04525cdfc40527e80b/scripts/run_eval.py#L48).

Regarding, Goal-Condition Success for textworld, this is an active issue: https://github.com/alfworld/alfworld/issues/11

[2022-03-03 20:08] MohitShridhar commented on #25
(Sorry for the late reply. For some reason I am not getting any notifications)

@namsophi, for TW there is no measure of partial-success (goal-condition metric), yes. But you should be able to get overall success metrics.

[2022-03-10 21:23] namsophi commented on #25
No problem, you've been very responsive and I really do appreciate that.

Currently I'm still trying to replicate any results from Table 2, so I just wanted to check with you that I'm running everything correctly.

If I'm trying to replicate the results in the picture below, that would be running `python scripts/train_dagger.py config/base_config.yaml`  with basic_config.yaml as is and then runnin

[2022-03-11 04:03] MohitShridhar commented on #25
@namsophi

Yes, that sounds right.

You can save the weights more frequently by calling `save_model_to_path` like [here](https://github.com/alfworld/alfworld/blob/253b76dc848823db7348ac04525cdfc40527e80b/scripts/train_dagger.py#L247) after every N episodes of training.

[2022-03-11 05:45] xingdi-eric-yuan commented on #25
Hi @namsophi . One thing I noticed is that in both training and eval scripts, the general.observation_pool_capacity should be 5. But I do not think this caused the lower result numbers. Now I suspect more on the versions of some dependency libraries. To look into this, I'm also training a task 4 agent from my side, and I will start my Investigation from that. We'll see.

[2022-03-12 23:58] namsophi commented on #25
Hello @xingdi-eric-yuan, please do let me know what you get for your results! Attached is a zip with my results and config files in case you wanted to see there was an error on my side -  for unseen: `"average_points": 0.43478260869565216,
    "average_steps": 33.47826086956522,`, and for seen: `"average_points": 0.375,
    "average_steps": 38.6875,`, so it still doesn't seem like I'm able to repl

[2022-03-14 01:48] xingdi-eric-yuan commented on #25
@namsophi  The training config is fine. During eval, when testing "valid_seen", please load `training_dagger_task4_01_id`, and when testing "valid_unseen", please load `training_dagger_task4_01_ood`. In the paper, we select the best performing seeds on TextWorld, seen and unseen split individually, then test their transferability on the embodied envs.

I did one run (with seed 42) on task 4, I got

[2022-03-14 02:18] namsophi commented on #25
@xingdi-eric-yuan  I just did a run with the same seed on task 4 as you have instructed and got seen/unseen avg points of 0.375/0.565

I'll check the dependency versions to make sure it is aligned with the requirements specified in the readme.

[2022-03-14 03:52] xingdi-eric-yuan commented on #25
@namsophi I also got some error messages regarding pytorch 1.2 (the version when we worked on this paper). Instead, I used pytorch 1.7:
`pip install torch==1.7.1+cu92 torchvision==0.8.2+cu92 torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html`
This gave me the `0.56 / 0.70 ` numbers.

That's why I suspected something has changed in pytorch (and maybe other dependencies) given t

[2022-03-14 13:43] xingdi-eric-yuan commented on #25
@namsophi  Just to make it clear, when testing valid seen split, please use this:
[code]

When testing valid unseen split, please use:
[code]

[2022-03-14 14:21] namsophi commented on #25
@xingdi-eric-yuan  yes, I have done that and got the results I mentioned here:

[2022-03-15 04:22] xingdi-eric-yuan commented on #25
@namsophi Using random seed 24, only using 20k episodes, I already got a `0.875` and `0.913` game points on `valid seen` and `valid unseen` split (task 4), which actually are higher than what we reported in the paper.

commit a615b416bb5b53d55b3870232ed7356a96686770

![image](https://user-images.githubusercontent.com/4028684/158305932-5f668525-b4f6-46b3-b815-1a6940b8afa7.png)

[2022-03-15 05:00] namsophi commented on #25
@xingdi-eric-yuan I got the same results! My pytorch is actually still at 1.2.0 (it didn't let me run with the 1.7.0 version). Then I wonder why I couldn't replicate your results with the same seed? I'm wondering my training was the issue and whether if I'd be able to replicate the same results if I train the agents myself under the same settings. What would I need to change to make it train for 2

[2022-03-15 13:34] xingdi-eric-yuan commented on #25
@namsophi  The training config is as shown in my git diff above. I did not change anything specifically for 20k episodes, I just took the saved checkpoints "so far" before the training finishing.

It would be nice if you can try to train on your end using pytorch 1.7 and let me know the results:
[code]

[2022-03-15 14:06] namsophi commented on #25
@xingdi-eric-yuan I'll try that out and let you know. In the meantime, I had a couple of questions:

1) do I need to train and evaluate with the same seed?
2) if the code base is modified to test for agent performance,then would improvement/hindrance of performance be shown through change of avg points between tests before and after modification using the same seed?

[2022-03-15 15:16] xingdi-eric-yuan commented on #25
@namsophi
1. I don't think that's necessary, either way should work.
2. Sorry I don't quite understand your question, could you clarify?

[2022-03-15 16:39] xingdi-eric-yuan commented on #25
@namsophi I see, because both imitation learning and RL training have built-in stochasticity (e.g., the order of examples being exposed to the agent), normally we would train with multiple seeds, and look at the average to know if there's an improvement caused by the code change. I'd say at least 3 seeds (some people use 10 seeds even).

[2022-03-15 17:03] namsophi commented on #25
@xingdi-eric-yuan  sounds good, I'll keep that in mind. Lastly, before I replicate my results, could you elaborate a bit more on the 20k part? I just want to replicate the steps exactly.

[2022-03-16 19:33] namsophi commented on #25
@xingdi-eric-yuan I seem to get this error when I run the command you provided here:

`ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
daal4py 2021.3.0 requires daal==2021.2.3, which is not installed.
thinc 8.0.13 requires typing-extensions<4.0.0.0,>=3.7.4.1; python_versio

[2022-03-16 19:40] xingdi-eric-yuan commented on #25
@namsophi oh thy
`pip install -U` instead of `pip install` ?
If still doesn't work, maybe uninstall pytorch first and run the above command

[2022-03-20 21:29] namsophi commented on #25
@xingdi-eric-yuan So I tried it out, here are my results:
I cut the training off at this point: ![Screen Shot 2022-03-20 at 5 25 25 PM](https://user-images.githubusercontent.com/55249002/159186606-93f79089-7d09-4164-9820-e969f75d2658.png)
and seen avg points was 0.625, unseen was 0.478.

For the record, the packages.txt show the package version in the conda environment I'm using to run these scrip

[2022-11-13 22:12] MikeWangWZHL opened #26 "Stuck at Get started with a random agent"
Hi, thanks for this great work. I was trying to run the provided quick start script:
[code]
But was stuck at with the following output:
[code]
Any idea why?

[2022-11-14 04:02] MohitShridhar commented on #26
@MikeWangWZHL did you set `regen_game_files = True` in base_config.yaml? If so, you can run `alfworld-download` and then set `regen_game_files = False`.

If you see `Checking for solvable games` it means it's going through the entire dataset of Textworld games to check if the tasks are actually solvable, which could take some time. This should already be pre-generated in the downloaded files (from